.result-wrapper {
  margin-bottom: 1rem;
  padding: 0.6rem;
}

@media (min-width: 768px) {
  .result-wrapper {
    margin-bottom: 0;
  }
}

.result {
  font-size: 0.9rem;
}

.result-details {
  min-height: 170px;
  margin-bottom: 1rem;
}

.result a {
  display: block;
  align-self: flex-end;
}
