@import url('https://fonts.googleapis.com/css?family=Dosis:600,700|Lato:400,400i,700');

.result-wrapper {
  margin-bottom: 1rem;
  padding: 0.6rem;
  font-family: 'Lato', sans-serif;
}

@media (min-width: 768px) {
  .result-wrapper {
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
  }
}

.result {
  font-size: 0.9rem;
  font-family: 'Lato', sans-serif;
}

.result-details {
  min-height: 130px;
  margin-bottom: 1rem;
  font-family: 'Lato', sans-serif;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .result {
    font-size: 0.5rem;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .result-details {
    margin: 0;
    margin-right: 0;
    width: 15%;
    height: auto;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .result-wrapper {
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
    height: 50%;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .div {
    width: 0;
    margin-right: 0;
    display: inline-flex;
  }
}

.card-title {
  /* min-height: 170px; */
  /* margin-bottom: 1rem; */
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Dosis', sans-serif;
  font-size: 2em;
}

.card-text {
  /* min-height: 170px; */
  margin-bottom: 1rem;
  font-family: 'Lato', sans-serif;
}

.result a {
  display: block;
  align-self: flex-end;
  font-family: 'Lato', sans-serif;
}

#routebeschrijving {
  /* margin-top: 10px; */
  color: #F6813A;
}