.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  background-color: darkslategrey;
  color: white;
}

#ads-button {
  margin-left: 10px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  transition: 0.2s;
}

#ads-button:hover {
  background-color: yellow;
  transition: 0.2s;
}

#ads-list-link {
  text-decoration: none;
}

#sell-link {
  text-decoration: none;
}

#details {
  margin: 0 auto;
  background-color: darkslategrey;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
