doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Knakwortel - #{title}
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel="stylesheet" href="/css/style.css")
    link(rel="icon" href="images/favicon.ico")

  body
    nav(class="navbar navbar-expand-md navbar-light fixed-top p-0")
      div(class="container")
        a.navbar-brand(href="/")
          img.nav-logo(src="/lib/knakwortel-logo.svg" alt="Knakwortel")
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse(id="navbarsExample04")
          ul.navbar-nav.justify-content-end
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href="https://example.com" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Knakwortel
              .dropdown-menu(aria-labelledby="navbarDropdown")
                a.dropdown-item(href="#") Waarom
                a.dropdown-item(href="#") Verkrijgbaar
                a.dropdown-item(href="/trui") Trui
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href="https://example.com" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Inspiratie
              .dropdown-menu(aria-labelledby="navbarDropdown")
                a.dropdown-item(href="#") Creaties
                a.dropdown-item(href="#") De Kookshow
                a.dropdown-item(href="#") #knakwortel
            li.nav-item
              a.nav-link(href='#') FAQ
            li.nav-item
              a.nav-link(href='#') Knakwortel voor je evenement


    block content

    //- footer.footer
    //-   .footer-container


    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")