@import url('https://fonts.googleapis.com/css?family=Dosis:600,700|Lato:400,400i,700');

body, html {
  width:100%;
  height:100%;
  font-family: 'Lato', sans-serif;
}

h1, h2 {
font-family: 'Dosis', sans-serif;
 font-weight: 700;
 line-height: 1.375;
 letter-spacing: 0.05em;
 margin: 0 0 1rem 0;
 text-transform: uppercase;
}

h3 {
  font-weight: 700;
}
.navbar {
  background: white;
  box-shadow:  0 1px 3px 0 rgba(104, 104, 104, 0.5);
}

.nav-logo {
  height: 55px;
  width: auto;
}

.navbar-nav {
  width: 100%;
}

.dropdown-item:active, .dropdown-item:focus {
  background-color: #F6813A
}

.footer {
  /* position: fixed; */
  bottom: 0;
  height: 160px;
  width: 100vw;
  background-color: #F6813A;
	background-image: url("http://www.knakwortel.nl/images/knakwortel-logo-plantaardig-vegan-snack-04.png");
	background-repeat: repeat;
}

/* .container, .container-fluid {
  border: 1px solid black;
} */

.home {
  min-height: 100vh;
}

.ev {
  height: 70%;
}

.home h1 {
  font-size: 5.5rem;
  line-height: .7;
  letter-spacing: 8px;
}

.home h2 {
  font-size: 4rem;
  color: #F6813A;
  letter-spacing: 2%;

}

.home p {
  font-size: 1.5rem;
}

.geknakt h1, .winkelzoeker h1  {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: 8%;
}

.bestel, .geknakt {
  padding-top: 100px;
  height: 100vh;
}

.winkelzoeker {
  padding-top: 100px;
  /* height: 120vh; */
}

.bestel h1, .receptdetail h1, .trui-order-success h1{
  font-size: 2rem;
  line-height: 1.2;
  }

.img-fluid {
  max-width: 100%; 
  height: auto;
}

@media (max-width: 768px) {
  .home h1, .bestel h1, .geknakt h1, .receptdetail h1{
    font-size: 3rem;
    letter-spacing: 0.05em;
  }
  .home h2 {
    font-size: 3rem;
  }
  .home p, .receptdetail p {
    font-size: 1rem;
  }
  .btn {
    background-color: white;
  }
  .offerte {
    margin-bottom: 10px;
  }
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators .active{
  background-color: black;
}

.carousel-indicators li {
  background-color: grey
}

.btn {
  border: 3px solid #F6813A;
  border-radius: 4px;
  background-color: white;
}

.btn:active, .btn:focus, .btn:hover {
  background-color: #F6813A;
  color: white;
}

.form-control, .custom-select {
  border-color: #F6813A;
  border-radius: 0%
}

.controleer {
  width: 100%;
  margin-top: 2rem;
}

.detrui {
  margin-bottom: 4.5rem;
}

.wortelstory h3 {
  font-family: 'Dosis', sans-serif;
}

.img-block {
  width: 100%;
}
 .question-wrapper {
   border-bottom: 1.5px dashed gray;
 }

 .question, .question:hover {
  color: black;
  text-decoration: none;
 }

 .scroll-down {
  width: 25px;
  height: 25px;
 }

 .scroll-home {
  margin-top: 30px;
 }

 .card {
   border: none;
 }

 .story-container, .instagram-container, .home-text {
  padding-top: 70px;
 }

 .karretje-evenement {
   padding-top: 30px;
   padding-bottom: 30px;
 }


 /* Recept details */
 #receptdetail-header {
   font-size: 60px;
   text-align: center;
   display: inline-block;
   margin: 0 auto; 
  }
  
 #receptdetail-description {
   font-size: 20px;
   text-align: center;
   overflow-wrap: break-word;
 }

 .img-receptdetail {
   max-width: 100%;
   width: 65%;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 .receptdetail {
  padding-top: 100px;
 }

 .video-receptdetail {
   max-width: 100%;
   width: 100%;
   height: 230px;
  margin-left: auto;
  margin-right: auto;
   display: block;
 }

 @media screen and (min-width: 800px) {
  .video-receptdetail {
    max-width: 100%;
    width: 60%;
    height: 550px;
   margin-left: auto;
   margin-right: auto;
    display: block;
  }
}

/* Trui bestelling confirmatie */
#trui-bestelling-h {
  font-size: 50px;
  text-align: center;
  margin-left: 10%;
  margin-bottom: auto;
  display: inline-block;
}

.trui-bestelling-kar {
  width: 50%;
  height: auto;
  display: inline-block;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .trui-bestelling-kar {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}