.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  background-color: darkslategrey;
  color: white;
}

.animation {
  animation-name: slidein;
  animation-duration: 0.5s;
  animation-play-state: paused;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    margin-top: 5%;
  }

  to {
    margin-top: 7%;
  }
}

.column {
  background-color: purple;
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}