@import url('https://fonts.googleapis.com/css?family=Dosis:700');
@import url('https://fonts.googleapis.com/css?family=Lato');

.slotmachine-wrapper {
  margin-top: 0;
}

#main-header {
  font-size: 40px;
  font-family: 'Dosis';
  letter-spacing: 1px;
  margin: 0 auto;
  margin-top: 6%;
  margin-bottom: 1%;
}

.start-btn {
  color: #F6813A;
  background-color: white;
  font-family: 'lato';
  font-size: 30px;
  height: 52px;
  width: 206px;
  border: solid #F6813A 3px;
  border-radius: 2px;
  margin: 0 auto 4%;
  transition: 0.2s;
}

@media (hover: hover) {
.start-btn:hover {
  color: white;
  background-color: #F6813A;
  transition: 0.2s;
  cursor: pointer;
}
}

.filter-wrapper {
  margin-bottom: 1%;
}

.filter-btn {
  font-family: 'lato';
  font-size: 20px;
  height: 52px;
  width: 206px;
  background-color: white;
  border: solid #F6813A 3px;
  border-radius: 3px;
  margin: 0 auto 1%;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  transition: 0.2s;
  cursor: pointer;
}

@media (hover: hover) {
.filter-btn:hover {
  color: white;
  background-color: #F6813A;
  transition: 0.2s;
}
}

/* Columns */
.column-name {
  background-color: white;
  border: double black 3px;
  border-radius: 10px;
  width: 28%;
  margin: 0 auto;
  margin-bottom: 0;
}
.column {
  background-color: white;
  border: dashed;
  border-color: rgb(140, 138, 138);
  border-width: 2px;
  border-radius: 10px;
  display: inline-block;
  height: 50%;
  width: 28%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 3%;
}

#recipe-header2 {
  font-size: 2.5vw;
  font-family: 'lato';
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1%;
}
#recipe-header3 {
  font-size: 2.5vw;
  font-family: 'lato';
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1%;
}
#recipe-header4 {
  font-size: 2.5vw;
  font-family: 'lato';
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1%;
}

#slots-header {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.slot-img {
  max-height: 215px;
  max-width: 100%;
  margin-bottom: 1%;
  overflow: auto;
}

.link-div {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  margin-top: 1%;
}

#link-details {
  font-size: 30px;
  font-family: 'Dosis';
  text-decoration: none;
  letter-spacing: 3px;
  color: black;
  transition: 0.2s;
}

#link-details:hover {
  font-size: 35px;
  transition: 0.2s;
}

#go-to-icon {
  width: 4%;
}