.slotmachine-wrapper {
  margin-top: -20px;
}

.start-btn {
  font-size: 30px;
  border: solid orange 2px;
  border-radius: 5px;
  margin: 1% 1% 1% 1%;
}

.start-btn:hover {
  color: white;
  background-color: orange;
  transition: 0.2s;
  cursor: pointer;
}

.filter-wrapper {
  margin-bottom: 0;
}

.filter-btn {
  font-size: 25px;
  border: solid orange 2px;
  border-radius: 5px;
  margin: auto 1%;
  margin-top: 0.5%;
  margin-bottom: 0.5%; 
  transition: 0.2s;
  cursor: pointer;
}

.filter-btn:hover {
  color: white;
  background-color: orange;
  transition: 0.2s;
}

.link-div {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -150px;
  margin-top: 24.5%;
}


#link-details {
  color: orange;
  font-size: 35px;
  transition: 0.2s;
}

#link-details:hover {
  font-size: 40px;
  transition: 0.2s;
}

/* Columns */
.column-name {
  background-color: white;
  border: dashed black 3px;
  border-radius: 10px;
  width: 28%;
  margin: 0 auto;
  margin-bottom: 0;
}
.column {
  background-color: white;
  border: dashed black 3px;
  border-radius: 10px;
  float: left;
  width: 28%;
  margin-left: 4%;
  margin-bottom: 2%;
}

#recipe-header1 {
  font-size: 40px;
  font-style: italic;
}

#recipe-header2 {
  margin-top: 0;
  margin-bottom: 0.5%;
}
#recipe-header3 {
  margin-top: 0;
  margin-bottom: 0.5%;
}
#recipe-header4 {
  margin-top: 0;
  margin-bottom: 0.5%;
}

#slots-header {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}