extends ./common/layout.pug

block content
  section(class="bestel d-flex my-auto")
      div(class="container my-auto")
        img(class='contactballon img-fluid' src='/lib/contact-met-je-opnemen.png')