extends ./common/layout.pug

block content
  - const start = page.pageContents.find(contentBlock => contentBlock.tag === 'start')
  section.section
    .container
      h1=start.headline
      p=start.body
  
  - const verkrijgbaar = page.pageContents.find(contentBlock => contentBlock.tag === 'verkrijgbaar')
  section.section
    .container
      h1=verkrijgbaar.headline
      p=verkrijgbaar.body