extends ./common/layout.pug

block content
  each contentBlock in page.pageContent
    section.section
      .container
        h1=contentBlock.headline
        p=contentBlock.body
  //- section.section
  //-   .container
  //-     h1 Knakwortel test
  //-     p Starwars people:
  //-     ul
  //-       each person in people.results
  //-         li=person.name