extends ./common/layout.pug

block content
  section(class="geknakt d-flex text-center my-auto")
    div(class="container my-auto")
      h1 Oeps, de website is geknakt!
      p=title+ " "
        span=error
      img(src="/lib/Knakwortel.svg" alt="Geknakte wortel")
