extends ./common/layout.pug

block content
  section(class="receptdetail d-flex my-auto")
      div(class="container-fluid my-auto")
        .row   
            h1(id="receptdetail-header")=recipe.name
            div(class="container-fluid my-auto")
              if recipe.youtubeUrl !== null 
                iframe(width='640' height='390' src!=recipe.youtubeUrl frameborder='1' class="video-receptdetail")
              else if recipe.image !== null
                img(class="img-receptdetail" src=recipe.image.url)
              else
                img(class="img-receptdetail" src="/lib/knakwortel.jpg")
              
              -const newDes=recipe.description.replace(/\n/g, `<br/>`)
              p(id="receptdetail-description") !{newDes}