extends ./common/layout.pug

block content
  section(class="bestel d-flex my-auto")
      div(class="container-fluid my-auto")
        .row
          .col-lg-4
            img(class="img-fluid" src="/lib/karretje.svg")
          .col-lg-7
            h1=Bedankt voor je bestelling!
            