extends ./common/layout.pug

block content
  section(class="bestel d-flex my-auto")
      div(class="container-fluid my-auto")
        h1(id="trui-bestelling-h") BEDANKT VOOR JE <br/> BESTELLING!
        img(class="trui-bestelling-kar" src="/lib/karretje.svg")
