extends ./common/layout.pug

block content
  - const bestel= page.pageContents.find(contentBlock => contentBlock.tag === 'bestel')
  section(class="bestel d-flex my-auto")
      div(class="container-fluid my-auto")
        .row
          if (bestel)
            .col-lg-4
              img(class="img-fluid" src=bestel.image.url)
            .col-lg-7
              h1=bestel.headline
              p=bestel.body + "   "
                a(href="#")
                  img(src='/lib/Shape.svg')
              form(class="needs-validation" novalidate method="post" action="/trui-bestellen")
                .row
                  .col-lg-4.py-2
                    label(for="company") Bedrijfsnaam (optioneel)
                    input(type="text" class="form-control" id="company" name="company" placeholder="" value="")
                  .col-lg-4.py-2
                    label(for="naam") Naam
                    input(type="text" class="form-control" id="naam" name="name" placeholder="" value="" required)
                    div(class="invalid-feedback")
                      Valid Naam is een verplicht veld.
                  .col-lg-4.py-2
                    label(for="email") Email
                    input(type="email" class="form-control" id="email" name="email" placeholder="" value="" required)
                    div(class="invalid-feedback")
                      Valid Email is een verplicht veld.

                .row
                  .col-lg-4.py-2
                    label(for="straat") Straat
                    input(type="text" class="form-control" id="straat" name="street" placeholder="" value="" required)
                    div(class="invalid-feedback")
                      Valid Straat is een verplicht veld.
                  .col-lg-4.py-2
                    label(for="huisnummer") Huisnummer
                    input(type="number" class="form-control" id="huisnummer" name="houseNumber" placeholder="" value="" required)
                    div(class="invalid-feedback")
                      Valid Huisnummer is een verplicht veld.
                  .col-lg-4.py-2
                    label(for="toevoeging") Toevoeging (optioneel)
                    input(type="number" class="form-control" id="toevoeging"  name="addition" placeholder="" value="")

                .row
                  .col-lg-4.py-2
                    label(for="postcode") Postcode
                    input(type="text" class="form-control" id="postcode" name="zipcode" placeholder="" value="" required)
                    div(class="invalid-feedback")
                      Valid Postcode is een verplicht veld.
                  .col-lg-4.py-2
                    label(for="plaats") Plaats
                    input(type="text" class="form-control" id="plaats" name="city" placeholder="" value="" required)
                    div(class="invalid-feedback")
                      Valid Plaats is een verplicht veld.
                  .col-lg-4.py-2
                    label(for="maat") Maat
                    select(class="custom-select d-block w-100" id="maat" name="size" required)
                      option(value="") Kies je maat:
                      option(value=1) Small
                      option(value=2) Medium
                      option(value=3) Large
                .row
                  .col-lg-4.offset-lg-8
                    button(class="btn btn-outline controleer" type="submit") Controleer bestelling
               
            

           
          
          
